<footer>
	<ul>
		<li><a href="{{site.github}}"><lunar-icon icon="github"></lunar-icon> GitHub.</a></li>
		<li><a href="{{site.mail}}"><lunar-icon icon="mail"></lunar-icon> Mail.</a></li>
		<li><a href="{{site.discuss}}"><lunar-icon icon="discussion"></lunar-icon> Talk to us.</a></li>
	</ul>
	<div class="copyright">
		Copyright © {{ site.time | date: '%Y' }} {{ site.copyright }}. All rights reserved.
		<small>Made with <lunar-icon icon="heart">❤️</lunar-icon> by <a href="https://arguiot.com">Arthur Guiot</a></small>
	</div>
	
</footer>