/*====================================
	Body
=====================================*/
body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Roboto Mono', monospace;

	a {
		color: inherit;
	}
}
/*====================================
	Header
=====================================*/
.header {
	background-color: rgba(#000, .7);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	position: fixed;
	transition: top 500ms ease-out, opacity 500ms ease-out;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px -1px rgba(#000,.2), 0 4px 5px rgba(#000,.14), 0 1px 10px rgba(#000,.12);
	width: 100vw;
	.logo {
		width: 96px;
		height: 96px;
		background-color: rgba(#000, .47);
		background-image: url("https://cryptools.github.io/img/logo-white.svg");
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: center;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		color: #fff;

		li {
			display: inline-block;
			margin-right: 48px;

			a {
				text-decoration: none;
				line-height: 96px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/*====================================
	Questions / course
=====================================*/
.questions {
	margin-top: 96px;
	width: 50vw;
	overflow: auto;
	padding: 40px;
	box-sizing: border-box;
	height: calc(100vh - 96px);
}

/*===================================
	Answer
====================================*/
.answer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 96px;
	width: 50vw;
	.out {
		position: absolute;
		top: calc(50vh + 120px);
	}
}

@media (max-width: 1000px) {
	body {
		flex-direction: column;
	}
	.questions {
		width: 100vw;
		height: calc(50vh - 96px);
	}
	.answer {
		width: 100vw;
		height: calc(50vh - 96px);
	}
}

/*======================================================================
	Well Done section
=======================================================================*/

.done {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: white;
	transition: all 500ms ease-in-out;
	&.active {
		transform: translateY(-100vh);
	}
	.continue {
		font-size: 3em;
		transition: font-size 100ms ease-in-out;
		i {
			font-size: inherit;
		}
		&:hover {
			font-size: 3.5em;
		}
	}
}
