:root {
    color-scheme: light dark;
    --text-color: #000;
    --black: #000;
    --footer: #fafafa;
    --white: white;
    --background: white;
    --opposite: #1e1e1e;
    --semi-white: #eee;
}

.white {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --black: #fff;
        --footer: #000;
        --white: #000;
        --background: #1e1e1e;
        --opposite: #fff;
        --semi-white: #333;
    }

    .white {
        display: block;
    }

    .black {
        display: none;
    }

    header:after {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }

    nav .logo {
        background: url("../img/logo-white.svg") !important;
        background-size: contain !important;
    }

    section.who .fusion {
        background: url("../img/fusion.svg") !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
}

html {
    overflow-x: hidden
}

body {
    padding-top: 100px;
    margin-bottom: 300px;
    background: var(--background);
    overflow-x: hidden;
    font-family: SF Pro Display;
    font-style: normal;
    color: var(--text-color)
}

.mono {
    font-family: sf_monobold;
}
p.magnify {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

* {
    z-index: 10;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: var(--white);
    z-index: 100;

    .logo {
        position: relative;
        left: 5vw;
        top: 0;
        width: 100px;
        height: 100px;
        background: url("../img/logo-black.svg");
        background-size: contain;
        cursor: pointer;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: calc(5vw + 100px);
        right: calc(5vw + 100px);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 50px;
            color: var(--text-color);
            text-decoration: none;
            font-family: sf_monobold;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.3em;
        }
    }
}

footer {
	position: fixed;
	bottom: 0;
	z-index: -10;
	width: 100vw;
	height: 300px;
	background: var(--footer);
	font-family: sf_monomedium;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	color: var(--text-color);

	ul {
		li {
			opacity: 0.6;
			font-size: 24px;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

	.copyright {
		text-align: right;

		small {
			display: block;
			opacity: 0.6;

			a {
				color: inherit;
			}
		}
	}
}


@media (max-width: 800px) {
    header .welcontainer {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        h1.welcome {
            font-size: 42px;

            span.big {
                font-size: 48px;
            }
        }

        h3 {
            font-size: 18px;
            max-width: none;
        }
    }

    nav .menu-container {
        right: 0;

        a {
            margin: 5px;
        }
    }

    article {
        section.who, .help {
            h1 {
                font-size: 42px;
            }

            .left,
            .right {
                max-width: calc(100vw - 100px);

                .fusion {
                    width: calc(100vw - 100px);
                }

                h1 {
                    font-size: 2em;
                    line-break: anywhere;
                }

                p {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }

        .help {
            .right {
                display: none;
            }
        }
    }
    footer .copyright {
		text-align: center;
	}
}
@media (max-width: 840px) {
	nav.container {
		max-width: 100%;
	}

	.levels {
		margin-top: 175px !important;
	}

	footer {
		margin-top: 175px;
	}
}
@media (max-width: 740px) {
	nav {
		#menu-toggle {
			display: block;
		}

		ul {
			position: absolute;
			top: 100%;
			background: rgba(#000, .7);
			left: 0;
			right: 0;
			text-align: center;
			height: 0;
			transition: height 500ms ease-in;
			overflow: hidden;

			li {
				display: block;
				margin: 0;
				text-align: center;

				a {
					line-height: 128px;
				}
			}

			&.active {
				height: 384px;

				&::after {
					content: '';
					position: absolute;
					top: 20px;
					left: 0;
					right: 0;
					bottom: 0;
					box-shadow: 0 2px 4px -1px rgba(#000,.2), 0 4px 5px rgba(#000,.14), 0 1px 10px rgba(#000,.12);
					z-index: -999;
				}
			}
		}
	}
}
/*====================================
	Article
====================================*/
article {
	background: var(--background);
	section {
		width: 100vw;
		box-sizing: border-box;
		padding: 50px;

		&.what {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 960px;
			max-width: 80%;
			margin: 0 auto;
			text-align: left;

			p {
				margin-top: 10px;
				text-align: justify;

				a {
					box-sizing: border-box;
					text-align: center;
					display: inline-block;
					padding: 12px 64px;
					background-color: #292929;
					color: #fff;
					text-decoration: inherit;
					margin-top: 48px;

					&:hover {
						text-decoration: underline;
					}
				}

				span.italic {
					margin-top: 20px;
					font-style: italic;
					opacity: 0.7;
				}
			}
		}

		&.levels {
			width: 960px;
			max-width: 80%;
			margin: 0 auto;
			padding: 50px 0;

			.progress {
				width: 0px;
				margin-left: 10px;
				height: 5px;
				background: #4CAF50;
				box-sizing: border-box;
				margin: 10px;
				transition: width 1s ease-in-out;
				.bg {
					&:after {
						content: '';
						position: absolute;
						width: 940px;
						max-width: 80%;
						margin: 0 auto;
						height: 5px;
						background: rgba(0, 0, 0, 0.1)
					}
				}
			}

			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;
				margin: 0 auto;
				position: relative;

				a {
					color: var(--text-color);
					text-decoration: none;
					text-align: center;
					padding: 32px 0 0;
					width: 220px;
					box-sizing: border-box;
					margin: 10px;
					vertical-align: top;
					top: 0;
					overflow: hidden;
					border-radius: 4px;
					box-shadow: 0 3px 1px -2px rgba(#000,.2), 0 2px 2px rgba(#000,.14), 0 1px 5px rgba(#000,.12);
					transition: box-shadow 250ms ease, transform 250ms ease;

					&:hover {
						box-shadow: 0 2px 4px -1px rgba(#000,.2), 0 4px 5px rgba(#000,.14), 0 1px 10px rgba(#000,.12);
						transform: translateY(-4px);
					}

					h3 {
						color: #fff;
						background-color: #292929;
						margin: 32px 0 0;
						padding: 24px 0;
					}

					.done {
						opacity: 0;
						position: absolute;
						transform: translate(100px, -42px);
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background: #4CAF50;
					}
				}
			}

			.expand {
				display: flex;
				justify-content: center;
				align-items: center;

				.more {
					display: inline-flex;
					vertical-align: middle;
					align-items: center;
					margin: 0 auto;
					box-sizing: border-box;
					text-align: center;
					padding: 12px 64px;
					background-color: #292929;
					color: #fff;
					text-decoration: inherit;
					margin-top: 48px;
					cursor: pointer;
					transition: all 250ms ease, top 250ms ease;

					&:hover {
						box-shadow: 0 2px 4px -1px rgba(#000,.2), 0 4px 5px rgba(#000,.14), 0 1px 10px rgba(#000,.12);
						top: -4px;
					}
				}
			}
		}
	}
}
/*========================================
	Be on a computer
========================================*/
.beoncomp {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10vw;
	font-size: 20px;
	text-align: center;

	i {
		font-size: 3em;
	}
}
