/*====================================
	Body
=====================================*/
:root {
    color-scheme: light dark;
    --text-color: #000;
    --black: #000;
    --footer: #fafafa;
    --white: white;
    --background: white;
    --opposite: #1e1e1e;
    --semi-white: #eee;
}

.white {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --black: #fff;
        --footer: #000;
        --white: #000;
        --background: #1e1e1e;
        --opposite: #fff;
        --semi-white: #333;
    }

    .white {
        display: block;
    }

    .black {
        display: none;
    }

    header:after {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }

    nav .logo {
        background: url("../img/logo-white.svg") !important;
        background-size: contain !important;
    }

    .markdown-body {
        color: var(--text-color) !important;
        table {
            color: black !important;
        }
    }
}

html {
    overflow-x: hidden
}

body {
    background: var(--background);
    overflow-x: hidden;
    font-family: SF Pro Display;
    font-style: normal;
	color: var(--text-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	a {
		color: inherit;
	}
}

.mono {
    font-family: sf_monobold;
}
p.magnify {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

* {
    z-index: 10;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: var(--white);
    z-index: 100;

    .logo {
        position: relative;
        left: 5vw;
        top: 0;
        width: 100px;
        height: 100px;
        background: url("../img/logo-black.svg");
        background-size: contain;
        cursor: pointer;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: calc(5vw + 100px);
        right: calc(5vw + 100px);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 50px;
            color: var(--text-color);
            text-decoration: none;
            font-family: sf_monobold;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.3em;
        }
	}
	.right {
		position: fixed;
		top: 0;
		right: 5vw;
		height: 100px;
		display: flex;
        justify-content: center;
        align-items: center;
		a {
            margin: 50px;
            color: var(--text-color);
            text-decoration: underline;
            font-family: sf_monobold;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.3em;
        }
	}
}
/*====================================
	Questions / course
=====================================*/
.questions {
	margin-top: 96px;
	width: 50vw;
	overflow: auto;
	padding: 40px;
	box-sizing: border-box;
	height: calc(100vh - 96px);
}

/*===================================
	Answer
====================================*/
.answer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 96px;
	width: 50vw;
	.out {
		position: absolute;
		top: calc(50vh + 120px);
	}
}

@media (max-width: 1000px) {
	body {
		flex-direction: column;
	}
	.questions {
		width: 100vw;
		height: calc(50vh - 96px);
	}
	.answer {
		width: 100vw;
		height: calc(50vh - 96px);
	}
}

/*======================================================================
	Well Done section
=======================================================================*/

.done {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: white;
	transition: all 500ms ease-in-out;
	&.active {
		transform: translateY(-100vh);
	}
	.continue {
		font-size: 3em;
		transition: font-size 100ms ease-in-out;
		i {
			font-size: inherit;
		}
		&:hover {
			font-size: 3.5em;
		}
	}
}
