/*====================================
	Body
=====================================*/
body {
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Roboto Mono', monospace;

	a {
		color: inherit;
	}
}
/*====================================
	Header
=====================================*/
.header {
	z-index: 999;
	background-color: rgba(#000, .7);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	position: fixed;
	transition: top 500ms ease-out, opacity 500ms ease-out;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px -1px rgba(#000,.2), 0 4px 5px rgba(#000,.14), 0 1px 10px rgba(#000,.12);
	width: 960px;
	max-width: 80%;
	margin: 0 auto;

	.logo {
		width: 96px;
		height: 96px;
		background-color: rgba(#000, .47);
		background-image: url("https://cryptools.github.io/img/logo-white.svg");
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: center;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		color: #fff;

		li {
			display: inline-block;
			margin-right: 48px;

			a {
				text-decoration: none;
				line-height: 96px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/*====================================
	Article
====================================*/
article {
	margin-top: 96px;

	section {
		width: 100vw;
		box-sizing: border-box;
		padding: 50px;

		&.what {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			width: 960px;
			max-width: 80%;
			margin: 0 auto;
			height: calc(60vh - 96px);
			margin: 0 auto;
			text-align: right;

			.logo {
				width: 66.6vw;
				height: 80vh;
				background-image: url("https://cryptools.github.io/img/logo-black.svg");
				background-repeat: no-repeat;
				background-size: 50%;
				background-position: center;
			}

			.left {
				width: 50vw;
			}
		}

		&.start {
			background-color: #292929;
			padding: 96px 0;
			color: #fff;
			box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), 0 0 5px 4px rgba(0, 0, 0, 0.14), 0 0 10px 1px rgba(0, 0, 0, 0.12);
			margin: 64px 0;

			.container {
				width: 960px;
				max-width: 80%;
				margin: 0 auto;

				a {
					box-sizing: border-box;
					text-align: center;
					display: inline-block;
					padding: 12px 64px;
					background-color: #fff;
					color: #292929;
					text-decoration: none;
					margin-top: 48px;
				}
			}
		}

		&.levels {
			width: 960px;
			max-width: 80%;
			margin: 0 auto;
			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				a {
					text-decoration: none;
					text-align: center;
					position: relative;
					padding: 32px 0 0;
					width: 220px;
					box-sizing: border-box;
					margin: 10px;
					vertical-align:top;
					top: 0;
					overflow: hidden;
					border-radius: 4px;
					box-shadow: 0 3px 1px -2px rgba(#000,.2), 0 2px 2px rgba(#000,.14), 0 1px 5px rgba(#000,.12);
					transition: box-shadow 250ms ease, top 250ms ease;

					&:hover {
						box-shadow: 0 2px 4px -1px rgba(#000,.2), 0 4px 5px rgba(#000,.14), 0 1px 10px rgba(#000,.12);
						top: -4px;
					}

					h3 {
						color: #fff;
						background-color: #292929;
						margin: 32px 0 0;
						padding: 24px 0;
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background-color: #292929;
	padding: 32px 0;
	color: #fff;
	box-shadow: 0 0 4px 1px rgba(#000,.2), 0 0 5px 4px rgba(#000,.14), 0 0 10px 1px rgba(#000,.12);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: right;
		width: 960px;
		max-width: 80%;
		margin: 0 auto;
		.logo {
			padding: 64px 64px 64px 0;
		}

		.c {
			font-family: sans-serif;
		}

		small {
			font-size: 100%;
			display: block;
			color: rgba(#fff, .6);

			i {
				font-size: inherit;
				color: #c62828;
				position: relative;
				top: 3px;
			}
		}
	}
}
@media (max-width: 480px) {
	footer .container {
		flex-direction: column;
		text-align: center;

		.logo {
			padding-left: 64px;
		}
	}
}


/*========================================
	Be on a computer
========================================*/

.beoncomp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	z-index: 1000;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10vw;
	font-size: 20px;
	text-align: center;
	i {
		font-size: 3em;
	}
}
